@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pp-editorial-new: var(--font-pp-editorial-new);
  --font-inter: var(--font-inter);
  --font-sans: var(--font-font-inter);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --default-transition-duration: 300ms;

  /* Globe animations */
  --animate-globe: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  --animate-circle1: circle1 2.7s linear infinite;
  --animate-circle1-delay-1: circle1 2.7s linear infinite -1.8s;
  --animate-circle1-delay-2: circle1 2.7s linear infinite -0.9s;
}

:root {
  --radius: 0.625rem;
}

:root,
.light {
  --background: oklch(0.985 0.004 99);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(0.985 0.004 99);
  --secondary: oklch(0.88 0.01 270);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.94 0.004 99);
  --muted-foreground: oklch(0.4 0.01 270);
  --accent: oklch(0.92 0.01 270);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0 0 0 / 5%);
  --input: oklch(0 0 0 / 10%);
  --ring: oklch(0.4 0 0);
  --chart-1: oklch(0.8 0 0);
  --chart-2: oklch(0.65 0 0);
  --chart-3: oklch(0.5 0 0);
  --chart-4: oklch(0.35 0 0);
  --chart-5: oklch(0.2 0 0);
  --sidebar: oklch(0.96 0.003 99);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(0.985 0.004 99);
  --sidebar-accent: oklch(0.88 0.01 270);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0 0 0 / 5%);
  --sidebar-ring: oklch(0.4 0 0);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0 0);
  --primary-foreground: oklch(0.1 0 0);
  --secondary: oklch(0.25 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.15 0 0);
  --muted-foreground: oklch(0.6 0 0);
  --accent: oklch(0.3 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.45 0.2 20);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 5%);
  --input: oklch(1 0 0 / 10%);
  --ring: oklch(0.6 0 0);
  --chart-1: oklch(0.2 0 0);
  --chart-2: oklch(0.35 0 0);
  --chart-3: oklch(0.5 0 0);
  --chart-4: oklch(0.65 0 0);
  --chart-5: oklch(0.8 0 0);
  --sidebar: oklch(0.07 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.6 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.25 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 5%);
  --sidebar-ring: oklch(0.6 0 0);
}

@keyframes globe {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes circle1 {
  0% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em white;
    width: 100%;
  }
  49% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em white;
    background: transparent;
  }
  50% {
    border-radius: 0%;
    width: 0.175em;
    background: white;
  }
  51% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em white;
    background: transparent;
  }
  100% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em white;
    width: 100%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html,
  body {
    @apply bg-background text-foreground;
  }

  pre {
    @apply cursor-default;
  }
}
